// Define variables for your color scheme

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #D1D1D1;
$light-cyan: #D7EDED;
$verdigris: #41ADAD;
$midnight: #690069;
$violet: #3A003A;
$mint-cream: #F1F9F9;

