


<!-- COMPÉTENCES -->

<div class="container Competences light-background">
      <div class="titre-section">
        <h2>COMPÉTENCES</h2>
      </div>
     <br>

<div id="skills">
 <div class="w3-container">
  <p> - Développement Web / Web Design - </p>
    <br>

    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:90%">HTML5/CSS3</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:70%">Ruby</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:60%">JavaScript/JQuery</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:70%">PostgreSQL</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">WordPress</div>
    </div>

    <br>
    <p>- Frameworks -</p>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:80%">Rails</div>
    </div>

   <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:90%">Boostrap</div>
    </div>

    <br>
    <p>- Design - </p>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">UX Design</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">Prototyping</div>
    </div>

  </div>


  </div>
</div>

<!-- COMPÉTENCES -->

<div class="container Competences light-background">
      <div class="titre-section">
        <h2>COMPÉTENCES</h2>
      </div>
     <br>

<div id="skills">
 <div class="w3-container">
  <p> - Développement Web / Web Design - </p>
    <br>

    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:90%">HTML5/CSS3</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:70%">Ruby</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:60%">JavaScript/JQuery</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:70%">PostgreSQL</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">WordPress</div>
    </div>

    <br>
    <p>- Frameworks -</p>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:80%">Rails</div>
    </div>

   <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:90%">Boostrap</div>
    </div>

    <br>
    <p>- Design - </p>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">UX Design</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">Prototyping</div>
    </div>

  </div>


  </div>
</div>




<!-- PARCOURS -->

  <div class="container Parcours">
    <div class="titre-section">
      <h2 class="soustitre">PARCOURS</h2>
    </div>


      <div class="card-product">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
          <div class="card-product-infos">
            <p>Février 2020 - Avrir 2020</p>
            <h2>UX / Front-end Developer à Planet Cards</h2>
            <!-- insérer un toggle on click -->
               <p>- UX design <br>
                - Développement front-end (JQuery, JS, PHP) <br>
               - WordPress
               </p>
            <!-- end toggle -->
          </div>
      </div>

      <div class="card-product">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
          <div class="card-product-infos">
            <p>Octobre 2019 - Décembre 2019</p>
            <h2>Le Wagon Bordeaux -Formation Développeur Web Fullstack</h2>
            <p>- Outils et workflow de développeur <br>
              - Utilisation du terminal et des outils de versionning (Git / GitHub) <br>
              - Programmation orientée objet en Ruby et son framework Rails (mais aussi Javascript, HTML, CSS) <br>
              - Conception de schéma DB (utilisation des requêtes SQL) et connection de cette dernière à Ruby avec un ORM (Active Records)
            </p>
          </div>
      </div>

      <div class="card-product">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
          <div class="card-product-infos">
            <p>Mars 2019 - Septembre 2019</p>
            <h2>UX Designer Elzeard</h2>
            <p>- Recherche et l'expérience utilisateur <br>
                - Prospective sur l'usage du digital chez les maraîchers. <br>
                - Prototypage de l'application sur Figma, InVision et Canva <br>
                - UX design, Scenarios, Personas, Focus groups, Contextual design...
            </p>
          </div>
      </div>

      <div class="card-product">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
          <div class="card-product-infos">
            <p>2018 – 2019</p>
            <h2><strong>AgroParisTech</strong> - Institut des sciences et industries du vivant et de l'environnement</h2>
            <p><strong>Master 2</strong>Gouvernance de la Transition Ecologique, et Sociétés</p>
          </div>
      </div>

          <div class="card-product">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
          <div class="card-product-infos">
            <p>sept. 2017 – mars 2018</p>
            <h2>Chargée de projet agriculture urbaine Mairie de Paris</h2>
            <p>- Montage et suivi des projets de sites d'agriculture urbaine (Parisculteurs saison 1 et 2) <br>
                - Préparation et organisation du stand ParisCulteurs au Salon International de l'Agriculture <br>
                - Communication, événementiel, mailing</p>
          </div>
      </div>

      <div class="card-product">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
          <div class="card-product-infos">
            <p>mars 2017 – août 2017</p>
            <h2>Chargée de mission énergies renouvelables dans le secteur agricole</h2>
            <p>Bureau franco-allemand pour la transition énergétique</p>
          </div>
      </div>

      <div class="card-product">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
          <div class="card-product-infos">
            <p>2012 – 2019</p>
            <h2>Sciences Po Grenoble</h2>
            <p><strong>Master 2 </strong> Techniques Sciences et Décisions.
              Master en coopération avec l'école d'ingénieurs Grenoble INP</p>
          </div>
      </div>


  <!-- BOUTON TÉLÉCHARGER CV -->

      <div class="columns download">
           <a href="/assets/MarieBEGUE.png" class="button" download>Télécharger CV</a>
      </div>
    <br>
  </div>
