
    <div class="container-contact container light-background">
      <div class="titre-section">
        <h2>CONTACT</h2>
      </div>

      <section >
        <form action="https://formspree.io/f/xjvaoraq"  method="POST">
          <input name="name" type="text" class="feedback-input" placeholder="NOM" />

          <input name="email" type="text" class="feedback-input" placeholder="EMAIL" name="_replyto" />

          <textarea name="message"class="feedback-input" placeholder="MESSAGE"></textarea>

          <input type="submit" value="ENVOYER"/>
        </form>
      </section>
    </div>
