
.titre-section {
  // display: inline;
  // border-bottom: solid;
  // border-color: red;
  // margin: 0 2%;
  // padding: 2%;
  // width: 100%;
  // zoom: 1;
  display: inline-flex;
  list-style: none;
  // vertical-align: top;
  display: block;
  text-align: center;
  margin: auto;


}

ul.soustitre {
  color: red;
  display: inline;
}

.table-title {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}


.Projets {
  background-color: $light-cyan;
  width: 100%;
}
